.node  {
  width: 25px;
  height: 25px;
  outline: 1px solid grey;
  display: flex;
  justify-items: auto;
  border-radius: 3px;
  /* color: rgb(103, 61, 61);
  background-color: rosybrown; */
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: greenyellow;
}

.node-visited {
  background-color: yellow;
}

.node-is-wall {
  background-color: black;
  border-radius: 50%;
}

.node-short-visited {
  background-color: purple;
}

.inner-node {
  width: 25px;
  height: 25px;
  margin: auto;
  /* border-radius: 50%; */
}

.node-visited  > .inner-node {
  animation-duration: .3s;
  animation-name: appear;
}

.node-short-visited  > .inner-node {
  animation-duration: .3s;
  animation-name: appear;
}

@keyframes appear {
  from {
    width: 75%;
    height: 75%;
    background-color: orange;
  }

  75% {
    width: 50%;
    height: 50%;
    background-color: orange;
  }

  to {
    width: 110%;
    height: 110%;
    border: none;
    background-color: yellow;
  }
}
