body {
  /* background-color:  #08083c; */
  background-color: rgb(187, 187, 187);
}

.algo-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 95vw;
  min-height: 86vh;
  border-radius: 3px;
  background-color: #304343;
  margin: auto;
  margin-top: 9px;
}

.array-container {
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-items: center;
}

.controls-container {
  min-height: 20vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: auto;
  margin-top: 20px;
  overflow: auto;
}

#sorting-options {
  display: flex;
  justify-content: center;
  align-items: auto;
  margin-top: 20px;
  margin-left: 10%;
  overflow: auto;
  background-color: orangered;
  opacity: 0.8;
  font-size: 18pt;
  border: 3px;
  border-radius: 3px;
  border-color: orangered;
  height: auto;
  width: auto;
  margin: 20px;
}

button {
  font-size: 16pt;
  justify-self: space-between;
  border: 3px;
  border-radius: 3px;
  border-color: orangered;
  height: auto;
  width: auto;
  margin: 20px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

button:hover {
  background-color: peachpuff;
}

.slidercontainer {
  display: flex;
  align-self: center;
  width: 10vw;
}

.slideritem {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 10px;
  margin-top: 40px;
  width: 10vw;
}

.sliderlabel {
  font-size: 16pt;
  display: center;
  margin-top: 15px;
  align-self: center;
  color: whitesmoke;
}

/*
#my-range {
  width: 30%;
  display: flex;
  align-self: center;
} */
