@keyframes example {
  0%   {background-color:orangered; left:0px; top:0px;color:black; font-size: 25px; }
  25%  {background-color:yellow; left:200px; top:0px; color: black}
  50%  {background-color:rgb(157, 54, 230); left:200px; top:200px;}
  75%  {background-color:rgb(1, 196, 1); left:0px; top:200px;}
  100% {background-color:rgb(45, 125, 196); left:0px; top:0px;}
}

.lines {
  display: flex;
  flex-direction: column;
  align-content: center;
}

p {
  display: flex;
  align-self: center;
}

span {
  margin-left: 15px;
}

.line {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  margin: 5px;
  border-radius: 3px;
  color: whitesmoke;
  font-size: 30px;
  font-weight: 800;
  /* background-color: #304343; */
  background-color: rgb(45, 125, 196);
  animation-name: example;
  animation-duration: 4s;
}

#explore {
  max-height: 245px;
  margin: 50px;
}

#go-button {
  /* padding: 0px; */
  border-radius: 3px;
  /* border: none; */
  color: white;
  padding: 13px;
}

img {
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

/* #navbar {
  hidden: true
} */
