* {
  font-family: "Ubuntu", sans-serif !important;
}

.drumhead {
  position: relative;
  flex-shrink: 0;
  height: 540px;
  width: 540px;
  border: 1px solid;
}

/* .ic {
  display: flex;
  flex-direction: column;
} */

.container {
  display: flex;
  justify-content: flex-start;
}

.dot {
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
}

.stationary {
  box-sizing: border-box;
  border: 1px dashed;
  z-index: 1000
}

svg {
  border: 2px solid;
  z-index: -1;
}
