* {
  font-family: "Ubuntu", sans-serif !important;
}

.drumhead {
  position: relative;
  flex-shrink: 0;
  height: 540px;
  width: 540px;
  border: 1px solid;
}

input {
  width: 5em;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.side {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

tr {
  margin: 40px
}

td {
  box-sizing: border-box;
  margin: 20px;
}

.drumContainer {
  position: relative;
  box-sizing: border-box;
  margin: 20px;
  border: 2px solid black;
}

.bar-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.graph.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    align-items: end;
    grid-template-areas:
    "graphtitle graphtitle graphtitle graphtitle"
    "titleke titlepe titletot titlei"
    "valke valpe valtot vali"
    "barke barpe bartot bari";
}

.graph .title {grid-area: graphtitle}
.graph * {justify-self: center}

.title.ke {grid-area: titleke}
.title.pe {grid-area: titlepe}
.title.tot {grid-area: titletot}
.title.i {grid-area: titlei}
.val.ke {grid-area: valke}
.val.pe {grid-area: valpe}
.val.tot {grid-area: valtot}
.val.i {grid-area: vali}
.bar.ke  {grid-area: barke}
.bar.pe  {grid-area: barpe}
.bar.tot {grid-area: bartot}
.bar.i   {grid-area: bari}

.bar {
  box-sizing: border-box;
  width: 100px;
  background-color: lightgrey;
}

.dot {
  box-sizing: border-box;
  border-width: 1px;
  position: absolute;
  border-radius: 50%;
}

.stationary {
  border-style: dashed;
  z-index: 1000
}

.moving {
  background-color: lightgrey;
  border-style: solid;
}

.line {
  box-sizing: border-box;
  position: absolute;
  height: 0px;
  z-index: 1000;
}

.bond {
  border-top: solid 1px black;
}

.velocity {
  border-top: dotted 4px green;
}

.acceleration {
  border-top: solid 2px red;
}
