* {
  font-family: "Ubuntu", sans-serif !important;
}

.drumhead {
  position: relative;
  flex-shrink: 0;
  height: 540px;
  width: 540px;
  border: 1px solid;
}

input {
  width: 5em;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.side {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.drumContainer {
  position: relative;
  box-sizing: border-box;
  border: 1px;
}

.dot {
  box-sizing: border-box;
  border-width: 1px;
  position: absolute;
  border-radius: 50%;
}

.stationary {
  border-style: dashed;
  z-index: 1000
}

.moving {
  background-color: lightgrey;
  border-style: solid;
}

.line {
  box-sizing: border-box;
  position: absolute;
  height: 0px;
  z-index: 1000;
}

.bond {
  border-top: solid 1px black;
}

.velocity {
  border-top: solid 2px green;
}

.acceleration {
  border-top: solid 2px red;
}
